<main>

    
    <article style="background-color: var(--color4)">
        <section>

            {% for post in site.posts %}
                <article class="post col-3 col-s-4 col-sm-6">
                    <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/Cute+Pandas+Enjoy+Ramen.gif" alt=""/>
                    <div class="">{{ post.title }}</div>
                </article>
            {% endfor %}
            <!--<article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/Cute+Pandas+Enjoy+Ramen.gif" alt=""/>
                <div class="">테스트1번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/Cute+Dog+Enjoy+Tsukemen.gif" alt=""/>
                <div class="">테스트2번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/advertise+icon+as+music.gif" alt=""/>
                <div class="">테스트3번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/advertise+icon+as+apple+music(1).gif" alt=""/>
                <div class="">테스트4번</div>
            </article>

            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/advertise+icon+as+apple+music.gif" alt=""/>
                <div class="">테스트5번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/A+Dog+bitting+a+pizza(1).gif" alt=""/>
                <div class="">테스트6번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/A+Dog+bitting+a+pizza.gif" alt=""/>
                <div class="">테스트7번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/A+cute+panda+chewing+bamboo.gif" alt=""/>
                <div class="">테스트8번</div>
            </article>

            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/advertise+icon+as+apple+music.gif" alt=""/>
                <div class="">테스트5번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/A+Dog+bitting+a+pizza(1).gif" alt=""/>
                <div class="">테스트6번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/A+Dog+bitting+a+pizza.gif" alt=""/>
                <div class="">테스트7번</div>
            </article>
            <article class="post col-3 col-s-4 col-sm-6">
                <img src="https://tsukemendog-github-bucket.s3.ap-northeast-2.amazonaws.com/test-img/A+cute+panda+chewing+bamboo.gif" alt=""/>
                <div class="">테스트8번</div>
            </article>  -->

        </section>
    </article>
    <section></section>
</main>