<head lang="ko">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <title>
      {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
      {% else %}{{ site.title | escape }}{% endif %}
    </title>
  

    <meta name="google-site-verification" content="NZ-dmFvSI0rCNXL-or3xqB6iyBNGK4vCV7sxQedrM4s" />
    <link rel="stylesheet" href="{{'/assets/css/styles.css' | relative_url }}">


    {% seo %}
  
</head>
  