{% assign parts = page.url | split: '/' %}
{% if parts.size > 1 %}
  {% assign lang_code = parts[1] %}
{% endif %}

{% assign lang_code = 'en' %}


<nav>
    <a href="{% if lang_code == 'en' %}/en/aws {% else %} /ko/aws{% endif %}"><span>aws</span></a>
    <a href="{% if lang_code == 'en' %}/en/ubuntu {% else %} /ko/ubuntu{% endif %}"><span>ubuntu</span></a>
    <a href="{% if lang_code == 'en' %}/en/react {% else %} /ko/react{% endif %}"><span>react</span></a>
    <a href="{% if lang_code == 'en' %}/en/devtools {% else %} /ko/devtools{% endif %}"><span>devtools</span></a>
    <a href="{% if lang_code == 'en' %}/en/git {% else %} /ko/git{% endif %}"><span>git</span></a>
    <a href="{% if lang_code == 'en' %}/en/seo {% else %} /ko/seo{% endif %}"><span>seo</span></a>
    <!--<a href="{% if lang_code == 'en' %}/en/category/s3 {% else %} /ko/category/s3{% endif %}"><span>S3</span></a>
    <a href="{% if lang_code == 'en' %}/en/category/iam {% else %} /ko/category/iam{% endif %}"><span>IAM</span></a>-->
</nav>