header {
  text-align: center;
  font-size : 5em;
  line-height: 2.5em;
  color: var(--color5);
  background-color: var(--color2);
}


@media (max-width: 600px) {
  header {
    font-size : 2em;
  }
}