---
---
@import "header";
@import "nav";
@import "main";
@import "footer";

body {
  max-width: 900px;
  margin: auto;
  background-color: #3f3f3f;
}

@media screen and (max-width: 700px) {
    body {
      max-width: 900px;
    }
}
