---
layout: default
---

<main>
    <article style="background-color: var(--color4)">
        <section>

            {% for post in site.posts %}
                {% if post.categories contains page.category %}
                    <article class="post col-3 col-s-4 col-sm-6">
                        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                            <img src="{{ post.thumbnail | prepend: site.image_base_url | replace: '//', '/' }}" alt=""/>
                            <div class="">{{ post.title }}</div>
                        </a>
                    </article>
                {% endif %}
            {% endfor %}

        </section>
    </article>
</main>