---
layout: default
---

<main>
  <section>
    {% for post in site.posts %}
    <article class="post">
      <div class="flex-1">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <!--<img src="{{ post.thumbnail | prepend: site.image_base_url | replace: '//', '/' }}" alt=""/>-->
          <div class="thumbnail-background">
            <img src="/assets/img/{{ post.thumbnail }}" alt="{{ post.title }} thumbnail image" />
          </div>
        </a>
      </div>

      <div class="flex-3 article-box">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <h2 class="article-title">{{ post.title }}</h2>
          <div class="article-description">{{ post.excerpt }}</div>
          <div class="article-date"><time>{{ post.date | date: "%B %d, %Y" }}</time></div>
        </a>
      </div>
    </article>
    {% endfor %}
  </section>
</main>

<script src="/js/main.js"></script>